// Theme
$theme-color1: #2d3939;
$theme-color2: #141b2d;
$theme-color3: #e6edeb;
$theme-color4: #2ea9a9;
$theme-color5: #f12929;

// Party
$party-color-soc: #f32925;
$party-color-kon: #88b063;
$party-color-lib: #e7a31a;
$party-color-pop: #ea5fe0;
